<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="SQLQueryBuilder Test Suite">
            <directory>tests/SQL/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/SQL/</directory>
        </whitelist>
    </filter>

<!--    <logging>
      <log type="coverage-html" target="build/coverage" charset="UTF-8"
           yui="true" highlight="true"
           lowUpperBound="40" highLowerBound="80"/>
    </logging>
-->
</phpunit>
